/* ======================= navBar====================== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav img {
  width: auto;
  height: auto;
}
.nav ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
.nav ul a {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;

  transition: var(--transition);
}
.nav ul .nav_btn {
  background-color: rgb(130, 68, 255);
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
}
.nav ul a:hover {
  color: rgb(207, 211, 228);
}

/* hero section */
.hero_section {
  margin-top: 0;
}
.hero_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 3rem;
  padding: 3rem 0;
  padding-bottom: 1rem;
  color: white;
}
.bg_grid {
  position: absolute;
  width: 100%;
  top: -20%;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}
.left_hero h2 {
  color: white;
  font-size: 3.2rem;
  font-family: var(--font-poppins);
}
.left_hero h2 span.green {
  color: rgb(22, 248, 182);
}
.left_hero h2 span.pink {
  color: #f926ae;
}
.left_hero p {
  margin: 2rem 0 1rem 0;
  font-size: 1.2rem;
  font-family: var(--font-noto);
}

.right_hero img {
  height: 100%;
  width: 100%;
}

/* intro */
.intro_section {
  margin-bottom: 5rem;
}
.intro_desc {
  width: 60%;
  margin: auto;
  text-align: center;
}
.intro_stat {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
  width: 90%;
  margin: auto;
}
.stat_card,
.card {
  border-radius: 0.5rem;
  border: 1px solid rgb(31, 34, 60);
  background-color: rgb(17, 21, 44);
  padding: 2rem 3rem;
  color: white;
}
.stat_card .count {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font-roboto-mono);
}
.stat_card .name {
  font-size: 1rem;
  font-family: var(--font-poppins);
}
.stat_card:nth-child(1) {
  box-shadow: 0 -1px 1px var(--card-one-color);
}
.stat_card:nth-child(2) {
  box-shadow: 0 -1px 1px var(--card-two-color);
}
.stat_card:nth-child(3) {
  box-shadow: 0 -1px 1px var(--card-three-color);
}
.stat_card:nth-child(4) {
  box-shadow: 0 -1px 1px var(--card-four-color);
}
.video_con {
  text-align: center;
}
.video_con video {
  margin-top: 1rem;
  width: 520px;
  height: 280px;
}
/* ====================== line and shade =================== */
.line {
  margin: 1rem 0;
  background-color: rgb(211, 216, 232);
  width: 100%;
  height: 1px;
  display: grid;
  place-items: center;
  position: relative;
}
.shade {
  background-color: rgb(117, 80, 222);
  filter: blur(64px);
  width: 200px;
  height: 100px;
  top: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
/* ============================== why us======================== */
.why_us_list {
  margin: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.why_us {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: white;
}
.why_left span {
  font-weight: 600;
  font-size: 1.1rem;
  font-family: var(--font-noto);
}
.why_left h3 {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: white;
}
.why_us p {
  line-height: 1.2;
}
.why_image {
  width: 100%;
  height: 100%;
}
.why_icon {
  width: 60px;
  height: 60px;
  margin: 0.5rem 0;
}

.why_us:nth-child(even) .why_left {
  order: 1;
}
.why_us:nth-child(1) .why_left,
.stat_card:nth-child(1) .count {
  color: var(--card-one-color);
}

.why_us:nth-child(2) .why_left,
.stat_card:nth-child(2) .count {
  color: var(--card-two-color);
}

.why_us:nth-child(3) .why_left,
.stat_card:nth-child(3) .count {
  color: var(--card-three-color);
}
.why_us:nth-child(4) .why_left,
.stat_card:nth-child(4) .count {
  color: var(--card-four-color);
}
/* ==================== top book ====================== */
#top_book_section {
  margin-top: 12rem;
}
.view_all_btn {
  color: white;
  text-align: center;
  padding: 2rem 0;
}
.view_all {
  text-align: center;
  padding: 0.7rem 1.4rem;
  font-size: 1.1rem;
  background-color: #8244ff;
  border-radius: 0.8rem;
  font-weight: 700;
  margin: 1rem 0;
  font-family: var(--font-poppins);
}
.view_all_btn .desc {
  font-weight: normal;
  font-size: 1rem;
  font-family: var(--font-roboto-mono);
}
.view_all_btn .desc a,
.desc a {
  text-decoration: underline;
  text-decoration-color: #f926ae;
  font-weight: 600;
  text-underline-offset: 2px;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 4rem;
}
.book {
  overflow: hidden;
  padding: 0;
}
.book .details {
  padding: 1.2rem 1rem 1.5rem 1rem;
}
.book .details h4 {
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  text-align: center;
}

/* testimonials */
.test_card {
  padding: 1rem;
  border-color: transparent;
  background-color: #12172a;
}
.test_card .divider {
  background-color: #9e7cff;
  height: 3px;
  width: 3rem;
  margin: 1rem 0;
}
.test_card p {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.name_img {
  display: flex;
  gap: 0.8rem;
}
.name_img .image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
  gap: 4rem;
}
.price {
  padding: 0 1.5rem 2rem 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.price .shade {
  z-index: 0;
}
.price_name {
  text-align: center;
  margin-bottom: 1rem;
}
.price_name h3 {
  color: #f926ae;
  font-size: 2rem;
  font-family: var(--font-roboto-mono);
}
.price_name span {
  font-family: var(--font-noto);
}
.list_why ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-noto);
}
.list_why ul li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.list_why ul svg {
  font-size: 0.9rem;
}
.sub_btn {
  text-align: center;
}
.subcribe_btn {
  background: linear-gradient(to right, #f926ae, #8244ff);
  padding: 0.6rem 1rem;
  border-radius: 1.8rem;
  font-size: 1rem;
  color: white;
}
.sub_btn .desc {
  font-size: 1rem;
  margin-top: 0.6rem;
}
.tag {
  text-align: right;
  margin: 1.5rem 0;
}
.not_tag {
  margin: 4.5rem 0;
}
.tag span {
  background-color: #262b42;
  padding: 0.2rem 0.8rem;
  color: #f926ae;
  font-family: var(--font-poppins);
  border-radius: 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.pricing_container .contact {
  text-align: center;
  margin-bottom: 8rem;
}
/* footer */
.footer_section {
  padding-top: 0;
  padding-bottom: 3rem;
  font-family: var(--font-poppins);
}

.footer_container .top {
  display: grid;
  grid-template-columns: 1.4fr repeat(3, 1fr);
  gap: 4rem;
}
.top p,
.top li {
  color: white;
}
.logo_tagline p,
.top ul {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
.logo_tagline p {
  font-size: 0.9rem;
}

.logo_tagline img {
  width: auto;
}
.top ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.link_head {
  color: white;
  text-decoration: underline;
  text-decoration-color: #f926ae;
  text-underline-offset: 3px;
  font-family: var(--font-roboto-mono);
  font-size: 1.2rem;
}
.footer_container .bottom {
  text-align: center;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  /* ======================= navBar====================== */
  .nav {
    padding: 1rem;
  }
  .nav ul {
    display: none;
    gap: 1.5rem;
  }
  .nav ul a {
    font-size: 1.1rem;
  }
  /* hero section */
  .left_hero h2 {
    font-size: 3rem;
  }
  .left_hero p {
    font-size: 1.1rem;
  }

  /* intro */
  .intro_desc {
    width: 80%;
  }
  .intro_stat {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
  }
  .stat_card .count {
    font-size: 1.5rem;
  }
  .stat_card .name {
    font-size: 1rem;
  }
  /* ============================== why us======================== */
  .why_us_list {
    margin: 3rem 0 4rem 0;
  }

  .why_left h3 {
    margin: 0.8rem 0;
    font-size: 1.5rem;
  }
  /* ==================== top book ====================== */
  #top_book_section {
    margin-top: 10rem;
  }
  .view_all_btn .desc a {
    text-underline-offset: 3px;
  }

  .books {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .book .details h4 {
    font-size: 1.1rem;
  }
  /* testimonials */
  .test_card {
    padding: 1rem;
  }
  /* pricing */
  .prices {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .price_name h3 {
    font-size: 1.8rem;
  }
  .price_name span {
    font-size: 1rem;
  }
  .list_why ul {
    gap: 0.2rem;
    font-size: 1rem;
  }
  .subcribe_btn {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 990px) {
  /* hero section */
  .left_hero h2 {
    font-size: 2.7rem;
  }
  .left_hero p {
    font-size: 1rem;
  }
  /* intro */
  .intro_desc {
    width: 90%;
  }
  .intro_stat {
    grid-template-columns: repeat(4, 1fr);
  }
  .stat_card .count {
    font-size: 1.3rem;
  }
  /* ============================== why us======================== */
  .why_us_list {
    margin: 3rem 0 4rem 0;
  }

  .why_left h3 {
    font-size: 1.2rem;
  }
  .why_left .desc {
    font-size: 1.1rem;
  }
  /* ==================== top book ====================== */
  #top_book_section {
    margin-top: 8rem;
  }

  .books {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .book .details h4 {
    font-size: 1rem;
  }
  /* pricing */
  .price_name h3 {
    font-size: 1.6rem;
  }
  .price_name span {
    font-size: 0.8rem;
  }
  .list_why ul {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 870px) {
  /* nav */
  nav .container {
    width: 100%;
  }

  /* hero section */
  .hero_section {
    margin-top: 0;
  }
  .hero_section .hero_container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem 2rem;
    width: 100%;
  }
  .left_hero h2 {
    font-size: 2.7rem;
  }
  .left_hero p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  /* intro */
  .intro_section {
    margin-bottom: 5rem;
  }
  .intro_desc {
    width: 100%;
  }
  .intro_stat {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 80%;
  }
  .stat_card .count {
    font-size: 1.4rem;
  }
  /* ============================== why us======================== */
  .why_us_list {
    margin: 3rem 0 4rem 0;
    gap: 2rem;
  }
  .why_us {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .why_left h3 {
    margin: 0.5rem 0;
    font-size: 1.7rem;
  }
  .why_us:nth-child(even) .why_left {
    order: -1;
  }
  /* ==================== top book ====================== */
  #top_book_section {
    margin-top: 0rem;
  }
  .view_all {
    font-size: 0.9rem;
  }
  .view_all_btn .desc {
    font-size: 0.9rem;
  }
  .books {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .book .details h4 {
    font-size: 1rem;
  }
  /* testimonials */
  .prices {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .price_name h3 {
    font-size: 1.5rem;
  }
  .price_name span {
    font-size: 1rem;
  }
  .sub_btn .desc {
    font-size: 0.8rem;
  }
  .tag span {
    padding: 0.3rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
  }
  .footer_container .top {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 660px) {
  /* nav */
  .nav img {
    width: 170px;
    height: auto;
  }

  /* hero section */
  .hero_section {
    margin-top: 0;
  }
  .left_hero h2 {
    font-size: 2.5rem;
  }
  /* intro */
  .intro_section {
    margin-bottom: 5rem;
  }
  .intro_stat {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }
  .stat_card .count {
    font-size: 1.3rem;
  }
  /* ============================== why us======================== */
  .why_left h3 {
    font-size: 1.5rem;
  }
  .why_us:nth-child(even) .why_left {
    order: -1;
  }
  /* ==================== top book ====================== */
  .books {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 4rem;
  }
  /* testimonials */
  .prices {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 570px) {
  /* intro */
  .intro_section {
    margin-bottom: 3rem;
  }
  .video_con video {
    margin-top: 1rem;
    width: 95%;
    height: 280px;
  }

  /* ==================== top book ====================== */
  .books {
    padding: 2rem;
  }
  /* testimonials */
  .prices {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  .pricing_container .contact {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 470px) {
  /* nav */
  .nav img {
    width: 150px;
    height: auto;
  }
  /* ==================== top book ====================== */
  .books {
    padding: 2rem 1rem;
  }

  /* hero */
  .left_hero h2 {
    font-size: 2rem;
  }
  .container.hero_container {
    padding: 3rem 0.7rem;
  }

  /* intro */
  .intro_stat {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
  }
  /* prices */
  .prices {
    padding: 0.5rem;
  }
  .footer_container .top {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
